
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue dans ce forum</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit placerat est, vitae imperdiet ligula rutrum quis. Curabitur nec eleifend dui, sed euismod purus. Phasellus aliquet consectetur risus in ultricies. Suspendisse lorem sem, 
    ultricies a iaculis faucibus, imperdiet nec lectus. Vivamus gravida, ex eu vehicula imperdiet, purus turpis bibendum nibh,
    eget laoreet sapien nulla eleifend diam. Vivamus varius varius velit, eget finibus orci interdum vitae. Ut at hendrerit ex. 
    Vestibulum volutpat nisl diam, a posuere odio lobortis sed.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit placerat est, vitae imperdiet ligula rutrum quis. Curabitur nec eleifend dui, sed euismod purus. Phasellus aliquet consectetur risus in ultricies. Suspendisse lorem sem, 
    ultricies a iaculis faucibus, imperdiet nec lectus. Vivamus gravida, ex eu vehicula imperdiet, purus turpis bibendum nibh,
    eget laoreet sapien nulla eleifend diam. Vivamus varius varius velit, eget finibus orci interdum vitae. Ut at hendrerit ex. 
    Vestibulum volutpat nisl diam, a posuere odio lobortis sed.</p>
{% endblock body %}
